/* 검색 바 */
.search {
    margin-top: 100px;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 85%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
    color: #333;
}

.search-icon {
    background-color: #536bf6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-icon:hover {
    background-color: #1A237E;
}

/* 검색 결과 부분 */
#shortened-url {
    margin-top: 30px;
    background-color: white;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: none;  /* 처음에는 숨김 */
}

#shortened-url a {
    color: #536bf6;
    font-weight: bold;
    text-decoration: none;
}

/* 에러 메시지 */
#error-message {
    margin-top: 30px;
    background-color: #ffebee; /* 연한 빨간색 배경 */
    color: #d32f2f; /* 진한 빨간색 텍스트 */
    padding: 15px;
    border-radius: 8px; /* 모서리를 둥글게 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: none; /* 처음에는 숨김 */
    font-weight: bold;
    font-size: 16px;
}

/* 에러 텍스트 강조 */
#error-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}


/* 미디어 쿼리 (반응형 웹) */
@media (max-width: 768px) {
    .search {
        max-width: 100%;
    }

    .search-input {
        width: 75%;
    }

    #shortened-url {
        width: 90%;
    }
}