<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="css/background.css" type="text/css">
  <link rel="stylesheet" href="css/searchbar.css" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex justify-content-center h-100">
  <div class="search">
    <input type="text" class="search-input" placeholder="Paste a Long URL..." id="long-url">
    <button class="search-icon" id="go-button">Go</button>
  </div>
</div>
<!-- 단축된 URL을 표시할 공간 -->
<div class ="d-flex justify-content-center h-100">
<div id="shortened-url" style="display:none; margin-top: 20px;">
  <p>Shortened URL: <a href="" id="short-url-link" target="_blank"></a></p>
  <p> <a href = "" id="short-url-detail" target="_blank"></a></p>
</div>

<!-- 에러 메시지를 표시할 공간 -->
<div id="error-message" style="display:none; margin-top: 20px; color: red;">
  <p id="error-text"></p>
</div>
</div>


<script src="js/searchurl.js"></script>
</body>
</html>